@import "tailwindcss";

@import "preline/variants.css";
/* @source "../node_modules/preline/dist/*.js"; */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  /* Global background layers */
  background: 
    radial-gradient(circle at 2px 2px, rgba(0,0,0,0.08) 1px, transparent 0),
    radial-gradient(ellipse at bottom left, #EAF6FF 5%, transparent 80%),
    radial-gradient(circle at center, white 0%, transparent 25%),
    linear-gradient(to bottom, #F3FAFF, white, #F3FAFF);
  background-size: 20px 20px, 100% 100%, 100% 100%, 100% 100%;
  background-attachment: local, fixed, fixed, fixed;
  color: var(--foreground);
  font-family: var(--font-ibm-plex-arabic), Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

/* Hide scrollbar for horizontal slider */
.scrollbar-hide {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
